			body{
				background:#e3ecff;
			}
			span{

				font-size:30px;
				background: green;
				padding:10px;	
				color:white;	
			}
			
			a{
				font-size:30px;
				text-decoration: none;
				color:white;
			}
	
			
	
			table,th,td{
			background-color:white;

			border:1px solid black;
			}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}