			body{
				
				background: #242423;
			}
			span{

				font-size:30px;
				background: green;
				padding:10px;	
				color:white;	
			}
			
			a{
				font-size:30px;
				text-decoration: none;
				color:white;
			}
	
			
	
			table,th,td{
			background-color:white;

			border:1px solid black;
			}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
